@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 2px solid white;
}

a {
    padding: 8px 8px 35px 20px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
    font-weight: 800;
}

a:hover {
    color: #d2bbbb;
}

i {
    color: whitesmoke;
}